body {
  background: #f5f6fa;
  font-family: sans-serif;
}

.checkout-box {
  max-width: 750px;
  margin: 50px auto;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  border: 2px solid #BFC6E0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.custom-input:focus {
  border-color: #4c6fff;
  box-shadow: none;
}

.login-text {
  font-size: 14px;
  color: #888;
}
.login-text span {
  color: #4c6fff;
  cursor: pointer;
}

.btn-shipping {
  background: #ff3f6c;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
}

.btn-shipping:hover {
  background: #e7335e;
}
body {
  background: #f5f6fa;
  
}

.cart-box {
  max-width: 400px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #BFC6E0;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cart-item {
  align-items: center;
  padding: 10px 0;
}

.cart-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item h6 {
  font-size: 14px;
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.price {
  font-weight: 600;
  color: #2d3a64;
}

.summary-box {
  background: #f1f3f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #BFC6E0;
}

.shipping-text {
  font-size: 12px;
  color: #28a745;
}

.btn-checkout {
  background: #28a745;
  color: #fff;
  border: none;
}

.btn-checkout:hover {
  background: #218838;
}
.mansur00000{
    display: flex;
    justify-content: space-between;
}


