#Description_all {
    padding: 40px 0;
}

.Description_1 {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.Description_1:hover {
    background-color: rgba(0, 255, 255, 0.402);
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}

.Description_7 {
    padding-top: 10px;
}

.product-card {
    padding: 40px;
    max-width: 500px;
    font-family: sans-serif;
    color: #1a1a4b;
}

.product-card h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;

}

.rating {
    color: #f4b400;
    margin: 10px 0;
}

.rating span {
    color: #1a1a4b;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;

}

.price {
    margin: 10px 0;
}

.price .new {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.price .old {
    text-decoration: line-through;
    color: red;
}

.product-card p {
    color: #888;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;

}

.cart {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart button {
    background: transparent;
    border: none;
    font-weight: 600;
    color: #1a1a4b;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

.heart {
    font-size: 20px;
    cursor: pointer;
}

.info p {
    margin: 5px 0;
    font-family: 'Josefin Sans', sans-serif;

}

.share {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.share i {
    background: #1a1a4b;
    color: white;
    padding: 6px;
    border-radius: 50%;
    font-size: 12px;
}


/* Video */
#Video_all {
    padding: 40px 0;
    background-color: #F9F8FE;
}

.Video_1 {
    display: flex;
    gap: 30px;
}

.Video_1 {
    padding-left: 0px;
}

.Video_1 li {
    font-size: 24px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

.Video_2 h4 {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

.Video_3 h4 {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

.Video_2 p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #A9ACC6;
    font-family: 'Josefin Sans', sans-serif;

}

.Video_3 {
    padding-top: 20px;
}

.Video_3 p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #A9ACC6;
    font-family: 'Josefin Sans', sans-serif;

}

/* image */
#Fashion_all {
    padding: 50px 0;
}

.Fashion_4 {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
}

.Fashion_2 {
    justify-content: center;
}

.Fashion_2 h6 {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

.Fashion_1 h4 {
    font-size: 13px;
    font-weight: 400;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    

}
.Fashion_1{
    display: flex;
    gap: 10px;
}