.brand-filter {
    max-width: 300px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;

}

.custom-check {
    margin-bottom: 15px;
}

.custom-check .form-check-input {
    width: 18px;
    height: 18px;
    border: 2px solid #6c5ce7;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

.custom-check .form-check-input:checked {
    background-color: #E5E0FC;
    border-color: #6c5ce7;
}

.custom-check .form-check-label {
    margin-left: 8px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}


