.brand-filter {
    max-width: 300px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;

}

.custom-check {
    margin-bottom: 15px;
}

.custom-check .form-check-input {
    width: 18px;
    height: 18px;
    border: 2px solid #6c5ce7;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

.custom-check .form-check-input:checked {
    background-color: #E5E0FC;
    border-color: #6c5ce7;
}

.custom-check .form-check-label {
    margin-left: 8px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.ms-brand-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;

}

.ms-brand-title::after {
    content: "";
    width: 60%;
    height: 2px;
    background: #FF3EB2;
    position: absolute;
    left: 0;
    bottom: -5px;
    font-family: 'Josefin Sans', sans-serif;

}

.ms-check-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.3s;
    font-family: 'Josefin Sans', sans-serif;

}

.ms-check-row:hover {
    background: #FFDBF1;
}

.ms-active {
    background: #FFDBF1;
}

.ms-check-row input {
    width: 18px;
    height: 18px;
    accent-color: #FF3EB2;
    cursor: pointer;
}

.ms-check-row label {
    font-size: 15px;
    color: #444;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}

/* stear */
.ms-rating-box {
    max-width: 300px;
}

.ms-rating-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;

}

.ms-rating-title::after {
    content: "";
    width: 60%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.ms-rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* checkbox style */
.ms-rating-row input {
    width: 18px;
    height: 18px;
    accent-color: #F4B400;
    /* yellow */
    cursor: pointer;
}

/* stars */
.stars {
    color: #F4B400;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;

}

/* gray star */
.stars span {
    color: #ccc;
    font-family: 'Josefin Sans', sans-serif;

}

.count {
    margin-left: 8px;
    color: #333;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;

}

.ms-rating-input {
    margin-top: 15px;
}

.ms-rating-input input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

/* focus effect */
.ms-rating-input input:focus {
    border-color: #ff3eb2c1;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 0 0 2px rgba(244, 180, 0, 0.2);
}
 


.ms-color-title {
  font-size: 20px;
  margin: 20px 0;
  position: relative;
}

.ms-color-title::after {
  content: "";
  width: 60%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.ms-color-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 25px;
}

.ms-color-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #666;
  cursor: pointer;
}

.ms-color-item.active {
  text-decoration: underline;
}

/* dots */
.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

/* colors */
.blue { background: #4a4aff; }
.orange { background: #ff8c32; }
.brown { background: #e0a96d; }
.green { background: #2ecc71; }
.purple { background: #c83df0; }
.sky { background: #33c3f0; }