* {
    margin: 0;
    padding: 0;
}

#mansur_all {
    background-color: #7E33E0;
}

.mansur_10 {
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.mansur_11 {
    gap: 30px;
    display: flex;
}

.mansur_11 h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding-top: 4px;

}

.mansur_12 {
    padding-top: 8px;
    display: flex;
    gap: 15px;
}

.mansur_12 li a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    text-decoration: none;

}


/* hedar part end */
.mansur_1 {
    /* background-color: #FFFFFF; */
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.mansur_1 ul li a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 0px 25px !important;
}

.mansur_1 ul li a:hover {
    color: #FB2E86;
    scale: 0.9;
    transition: 0.6;
}

.mansur_1 ul {
    padding-left: 30px;
}

.mansur_2 {
    position: relative;
}

.mansur_2:hover .dorp {
    opacity: 1;
}

.dorp {
    position: absolute;
    background: linear-gradient(135deg, #ff4d94, #ff2e86);
    top: 25px;
    left: 0;

    width: 100px;
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.dorp ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dorp ul li {
    align-items: center;
    line-height: 40px;
    padding: 0 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center
}

.dorp ul li:hover {
    background-color: #fff;
    color: #ff2e86;
    border-radius: 6px;
    margin: 4px 8px;
}

.btn_2 {
    position: relative;
    top: 0;
    left: 0;
}

.btn_2 a {
    position: absolute;
    top: 0px;
    right: -3;
    padding: 0px 8px;
    color: #ffff;
    background-color: #FB2E86;
}

.btn_2 input {
    background-color: #D9D9D9;
    border: none;

}

/*  nav part end */
/* bennar part start */
#mansur_hed {
    background-color: #F2F0FF;
    /* padding: 0px 40px; */
    padding-bottom: 40px;
}

.mansur_20 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.mansur_23 {
    padding-top: 100px;
}

.mansur_23 h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FB2E86;

}

.mansur_23 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #000;
}

.mansur_23 p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #8A8FB9;

}

.mansur_23 button {
    padding: 5px 10px;
    background-color: #FB2E86;
    color: #fff;
    border: none;
    text-align: center;
}

.mansur_24 {
    padding-top: 20px;
}

/* img part start */
#mansur_benr {
    padding: 50px 0px;
    cursor: pointer;
}

.mansur_27 {
    display: flex;
    justify-content: space-between;
}

.mansur_30 {
    text-align: center;
    background-color: #F6F7FB;
    padding: 20px;
}

.mansur_29 {
    text-align: center;
    padding: 10px 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.MANSUR_1 h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.mansur_11111 :hover {
    background-color: #2F1AC4;
    color: #D9D9D9;
    transition: 0.7s;
}

.mansur_11111 :hover h5 {
    color: #fff;
}

.mansur_11111 :hover h6 {
    color: #fff;
}

.mansur_11111 :hover p {
    color: #fff;
}

.mansur_29 h5 {
    font-size: 18px;
    font-weight: bold;
    color: #FB2E86;

}

.mansur_29 p {
    font-size: 14px;
    font-weight: 400;
    color: #151875;
}

.mansur_29 h6 {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.mansur_31 {
    height: 42%;
    width: 100%;
    background-color: #2F1AC4;
    overflow: hidden;
}

.mansur_28 {
    position: relative;
}

.mansur_31 {
    position: absolute;
    top: 50%;
    left: 0;
}

.mansur_31 {
    text-align: center;
    padding: 10px 40px;
}

.mansur_31 h5 {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}

.mansur_31 h6 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.mansur_31 p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.icone_1 {
    display: flex;
    text-align: center;
    padding-left: 45px;
    gap: 5px;
}

.icone_2 {
    color: #05E6B7;
}

.icone_3 {
    color: #F701A8;
}

.icone_4 {
    color: #FFEAC1;
}

.mansur_31 {
    opacity: 0;
}

.mansur_27 :hover.mansur_31 {
    opacity: 1;
    transition: 0.7s;
}

.mansur_27 {
    position: relative;
}

.icone_all {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #1389FF;
}

.icone_all {
    display: flex;
    gap: 15px;

}

.icone_all {
    opacity: 0;
}

.mansur_28:hover .icone_all {
    opacity: 1;
    transition: 0.7s;

}

.rrrrrr {
    display: flex;
    justify-content: space-between;
}

.mansur_28 {
    position: relative;
}

.mansur_4000 button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #08D15F;
    border: none;
    padding: 4px 10px;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 30%;
    opacity: 0;
}

.mansur_28:hover .mansur_4000 button {
    opacity: 1;
}

/* Leatest part start */
#Leatest {
    padding: 50px 0;
}

.Leatest_2 {
    text-align: center;
}

.Leatest_2 h3 {

    font-size: 42px;
    font-weight: bold;
    color: #000;
    padding-bottom: 10px;

}

.Leatest_3 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.Leatest_3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.Leatest_3 li {
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;


}

.Leatest_3 li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: red;
    transition: 0.3s;
}

.Leatest_3 li:hover::after {
    width: 100%;
}

.Leatest_3 li:hover {
    color: red;
}

.Leatest_11 {
    background-color: #F7F7F7;
    text-align: center;
}

.Leatest_12 h5 {
    background-color: #3F509E;
    width: 70px;
    border-radius: 10px;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    margin-top: 30px;
    margin-bottom: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    padding-bottom: 4px;
}

.Leatest_11 {
    position: relative;

}

.Leatest_12 {
    position: absolute;
    top: 10px;
    left: 0;
}

.Leatest_12 i {
    color: #2F1AC4;
    padding-top: 10px;
}

.Leatest_11:hover .Leatest_12 {
    opacity: 1;
}

.Leatest_11:hover {
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Leatest_12 {
    opacity: 0;
    transition: 0.3s;
    /* smooth effect */
}

.TEXT_100 {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.TEXT_101 {
    display: flex;
    gap: 10px;
}

.TEXT_100 h6 {
    font-size: 16px;
    font-weight: 400;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;


}

.TEXT_101 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;


}

.TEXT_101 p {
    font-size: 12px;
    font-weight: 400;
    color: #FB2448;
    font-family: 'Josefin Sans', sans-serif;


}

.Leatest_555 {
    display: flex;
    justify-content: space-between;
}

.Leatest_10 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

/* What part start */
#What_all {
    padding: 50px 0;
}

.What_1 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #151875;
    text-align: center;
}

.What {
    margin-top: 20px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 40px 26px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.What h6 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    font-size: 22;
    font-weight: 600;
    color: #151875;

}

.What p {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #1a0b5b91;
}

.What_3 {
    display: flex;
    gap: 10px;
}

/* Unique part start */
#Unique_1 {
    padding: 40px 0;
    background-color: #F1F0FF;
}

.Unique {
    display: flex;
    align-items: center;
}

.Unique_4 {
    display: flex;
    align-items: center;
}

.Unique_3 h4 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
}

.Unique_icon {
    display: flex;
    gap: 6px;
    align-items: center;
}

.Unique_icon i {
    color: #05E6B7;
    font-size: 10px;

}

.Unique_icon a {
    font-size: 16px;
    font-weight: 400;
    color: #ACABC3 !important;
    font-family: 'Josefin Sans', sans-serif;
}

.Unique_icon2 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.Unique_icon3 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.Unique_icon2 {
    align-items: center;
}

.Unique_icon2 i {
    color: #2B2BF5;
    font-size: 10px;


}

.Unique_icon2 {
    align-items: center;
}

.Unique_icon2 a {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #ACABC3 !important;
    font-family: 'Josefin Sans', sans-serif;
}

.Unique_icon3 a {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #ACABC3 !important;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding-bottom: 10px;
}

.Unique_icon3 {
    align-items: center;
}

.Unique_icon3 i {
    color: #F52B70;
    font-size: 10px;
}

.Unique_4 {
    align-items: center;
    padding-top: 10px;
    gap: 20px;
}

.Unique_4 button {
    background-color: #F52B70;
    color: #F1F0FF;
    padding: 14px 24px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    font-family: 'Josefin Sans', sans-serif;

}

/* Trending part start */
#Trending_all {
    padding: 40px 0;
}

.Trending_h4 h4 {
    font-size: 42;
    font-weight: bold;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;


}

.Trending_img2 {
    text-align: center;
}

.Trending_dot {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Trending_img2 {
    padding-top: 25px;

}

.Trending_img2:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.7s;
}

.Trending_img2 h4 {
    font-size: 16px;
    font-weight: bold;
    color: #151875;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
}

.Trending_dot h6 {
    font-size: 14px;
    font-weight: bold;
    color: #151875;
    font-family: 'Lato', sans-serif;

}

.Trending_dot {
    align-items: center;
}

.Trending_dot p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #151875;
    text-align: center;
    padding-top: 10px;
}

.Trending_img {
    display: flex;
}

/*  Discount part start  */
#Discount_all {
    padding: 40px 0;
}

.Discount_3 h4 {
    font-size: 26px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

.Discount_3 p {
    font-size: 16px;
    font-weight: 600;
    color: #FB2E86;
    font-family: 'Lato', sans-serif;
    border-bottom: 1.5px solid #FB2E86;

}

.Discount_3 {
    background-color: #FFF6FB;
    padding: 20px 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.Discount_3:hover {
    background-color: #EEEFFB;
    -o-transition: ease-in-out;
}

.Discount_5 {
    margin-left: 130px;

}

.Discount {
    display: flex;
    gap: 30px;
}

.Discount_4 {
    margin-top: 25px;
    margin-left: 35px;
}

.Discount_10 {
    display: flex;
    align-items: center;


}

.Discount_6 {
    padding: 20px 30px;
    padding-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Discount_6:hover {
    background-color: #EEEFFB;

}

.Discount_10 h6 {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;

}

/* Item part start  */
#Item_1 {
    padding: 40px 0;
}

.Item_1 {
    text-align: center;
}

.Item_2 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #151875;
    text-align: center;

}

.Item_lr {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}



.Item_lr li:hover {
    color: #F52B70;
    border-bottom: 1.5px solid #F52B70;
    transition: ease-in-out;

}

.Item_imgr {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Item_3030 {
    display: flex;
}

.Item_3032 {
    display: flex;
}

.Item_303000 h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #151875;
}

.Item_303000 h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #FB2E86;
}

.Item_303000 p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #B7BACB;
}

.Item_3030 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B8B8DC;
}

.Item_3030 {
    padding-top: 10px;
    gap: 25px;
}

.Item_3032 {
    gap: 25px;
}

.Item_3032 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B8B8DC;
}

/* Categories part start */
.Categories h4 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #151875;
}

#Categories_all {
    padding: 40px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



.Categories {
    text-align: center;
}

.Categories_3 {
    display: flex;
    gap: 20px;
}

.cat_item {
    text-align: center;
}

.cat_img {
    width: 220px;
    height: 220px;
    background: #f5f5f5;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cat_img img {
    width: 120px;
    z-index: 2;
}

.view_btn {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    background: green;
    color: white;
    border: none;
    padding: 4px 10px;
    display: none;
    z-index: 3;
}


.cat_img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-left-color: #9877E7;
    border-bottom-color: #9877E7;
    transform: rotate(0deg);
    opacity: 0;
    transition: 0.4s;
}

.cat_img:hover::after {
    opacity: 1;
    transform: rotate(40deg);
}

.cat_img:hover .view_btn {
    display: block;
}

.cat_item h6 {
    padding-top: 15px;
}

.Categories_7 {
    padding-top: 40px;
    display: flex;
    gap: 10px;
}

/* Newslater part start */
#Newslater_all {
    background: url(../img/manik_0.png) no-repeat center / cover;
    padding: 100px 0;
}

.Newslater_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Newslater_4 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #151875b3;
}

.Newslater_4 button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F52B70;
    padding: 6px 10px;
    border: none;
}

/* Read_More */
#Read_Moree {
    padding: 40px 0px;
}

/* Leatest Blog part */
#Leatest_Blog {
    padding: 40px 0;
}

.Leatest_Blog3 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #151875;
}

.Leatest_Blog32 i {
    color: #F52B70;
}

.Leatest_Blog33 i {
    color: #F52B70;
}

.Leatest_Blog34 p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #151875;
}

.Leatest_Blog34 h6 {
    font-size: 16px;
    font-weight: 400;
    color: #72718F;

}

.Leatest_Blog34 a {
    color: #000;
}

.Leatest_Blog34 a:hover {
    color: #F52B70;
}

.Leatest_Blog1 {
    display: flex;
    gap: 20px;
}

/* footer part start */
#Enter_all {
    padding: 30px 0;
    background-color: #8a8fb97b;
}
.Enter_1{
    align-items: center;
}

.Enter_2 h4 {
    font-size: 38px;
    font-weight: 600;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;

}

.Enter_3 input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #8A8FB9;
    background-color: #D9D9D9;
    padding: 0px 10px;
    padding-top: 5px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}

.Enter_3 {
    display: flex;
}

.Enter_3 input {
    border: 1px solid #ddd;
    padding: 8px 10px;
    outline: none;
    border-right: none;
}

.Enter_3 button {
    background-color: #F52B70;
    color: #fff;
    border: 1px solid #F52B70;
    padding: 8px 15px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.Enter_2 span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: #8A8FB9;
    font-family: 'Josefin Sans', sans-serif;


}
.Enter_2 p {
    font-size: 16px;
    font-weight: 400px;
    color: #8A8FB9;
    font-family: 'Josefin Sans', sans-serif;


}
.Enter_7 h6{
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}
.Enter_7 li{
    font-size: 16px;
    font-weight: 400;
    color: #8A8FB9;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;

   
}
#last_part{
    padding: 20px 0;
    background-color: #E7E4F8;
}

.last_part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_part2 a{
    font-size: 16px;
    font-weight: 600;
    color: #9DA0AE;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;


}
